<div class="container chatroom">
  <h1>#messages</h1>

  <div class="messages">
    <% @messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.sender.first_name %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
    <%= simple_form_for @message, url: mentor_message_path(mentor_id:params[:mentor_id],id:current_user) do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Message ##",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>

    <% end %>

  </div>
</div>
