<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="profile-picture">
        <%=cl_image_tag(profilePhoto,
          height: 225,
          width: 225,
          crop: :fill,
          aspect_ratio: "4:3",
          radius: "max",
          background: "#B1D7B4"
          )%>
      </div>
    </div>
    <div class="col-4 mx-4">
      <div class="mt-4 profile-info">
        <h1><%= "#{userFirstName} #{userLastName} " %></h1>
        <p><%="ðŸ§­ #{userLocation}"%></p>
        <%if current_page?(!my_profile_path)%>
          <button type="button" class="btn profile-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Book
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Which skill can this mentor help you with?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%skills.each do |s|%>
                    <%=link_to "#{s.technology.name.titleize}",new_specialty_consultation_path(s),class:"btn"%>
                  <%end%>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <%=link_to "Chat",root_path,class:"btn profile-btn"%>
        <%else%>
          <%=link_to "Edit",root_path,class:"btn profile-btn"%>
        <%end%>
      </div>
    </div>
    <div class="col-4">
      <div class="skills-container mt-1">
        <div class="skills">
          <p style="text-align:center;"><strong>Skills</strong></p>
          <div class="row" style="text-align:center;">
            <%skills.each do |skill|%>
              <div class="col-4 mb-1"><span class="badge rounded-pill bg-light text-dark"><%=skill.technology.name.titleize%></span></div>
            <%end%>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<div class="container profile-container">
  <div class="row">
      <div class="col-4 left-body">
        <p><strong>About Me</strong></p>
        <p><%=user%></p>
      </div>

      <div class="col-7 right-body">
        <p><strong>ðŸ’¼ Work Experience ðŸ’¼</strong></p>
        <ul>
          <%experiences.each do |e|%>
            <li><%="â­ #{e.position_title} #{e.company_name} #{e.start_date} - #{e.end_date} "%></li>
            <br>
          <%end%>
        </ul>
      </div>
  </div>
  <div class="row">
      <div class="col-4 left-body">
        <p><strong>Connect With Me </strong></p>
        <p>www.github.com/myportfolio</p>
        <p>www.Linkedin.com/myprofile</p>
      </div>

      <div class="col-7 right-body">
        <p><strong>ðŸ“š Education ðŸ“š</strong></p>
        <ul class="education">
          <%education.each do |edu|%>
            <li><%="ðŸ““ #{edu.institution_name} #{edu.degree_type} #{edu.start_date} - Present"%></li>
          <%end%>
         </ul>
      </div>
  </div>

</div>
