<div class="container">

  <%# Next 2 divs are for the main header %>
  <div class="header">

    <div class="row">
      <div class="col">
        <h1 class="mainh1">TechTrek</h1>
      </div>
    </div>

    <div class="row subtitle">
      <div class="col">
        <h6 class="mainh6">Journey through Tech without a sweat </h6>
      </div>
    </div>
  </div>

  <%# All these divs are for the subheaders %>
  <div class="row subheaders">
    <div class="col">
      <%= link_to("Javascript", specialties_path(query: 'specialty name'), class: "specialties")  %>
    </div>

    <div class="col">
      <%= link_to("Cyber Security", specialties_path(query: 'specialty name'), class: "specialties") %>
    </div>

    <div class="col">
      <%= link_to("Python", specialties_path(query: 'specialty name'), class: "specialties")  %>
    </div>

    <div class="col">
      <%= link_to("Resume Review", specialties_path(query: 'specialty name'), class: "specialties")  %>
    </div>

    <div class="col">
      <%= link_to("Salary Review", specialties_path(query: 'specialty name'), class: "specialties")  %>
    </div>
  </div>

  <%# This is for the search bar %>
  <div class="row search justify-content-center">
    <div class="col-sm-6 ">
      <%= form_with url: mentors_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
