<div class="containers">

  <%# Next 2 divs are for the main header %>
  <div class="header">
    <div class="row">
      <div class="col">
        <h1 class="mainh1">TechTrek</h1>
      </div>
    </div>
    <div class="row subtitle">
      <div class="col" data-controller="text-animation">
        <h6 id="demo" class="mainh6" data-text-animation-target="text"></h6>
      </div>
    </div>
  </div>

  <div class="row search justify-content-center">
    <div class="col-sm-8 ">
      <%= form_with url: specialties_path, method: :get, class: "d-flex"  do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <h3 class="browse">Browse technologies</h3>

  <div class="filter-container">
     <%= link_to("Javascript", specialties_path(query:"javascript"), class: "specialties")%>
     <%= link_to("Datascience", specialties_path(query:"datascience"), class: "specialties")%>
     <%= link_to("Career Services", specialties_path(query:"careerservices"), class: "specialties")%>
     <%= link_to("Python", specialties_path(query:"python"), class: "specialties")%>
     <%= link_to("Frontend Development", specialties_path(query:"frontend"), class: "specialties")%>
  </div>

  <div class="filter-container" style="margin-top: 60px;">
     <%= link_to("Javascript", specialties_path(query:"javascript"), class: "specialties")%>
     <%= link_to("Datascience", specialties_path(query:"datascience"), class: "specialties")%>
     <%= link_to("Career Services", specialties_path(query:"careerservices"), class: "specialties")%>
     <%= link_to("Python", specialties_path(query:"python"), class: "specialties")%>
  </div>
</div>
