<div class="page">
  <div class="header">

    <div class="row">
      <div class="col title">
        <h1>TechTrek</h1>
      </div>
    </div>

    <div class="row">
      <div class="col title">
        <h6>Journey through Tech without a sweat </h6>
      </div>
    </div>
  </div>

  <div class="row subheaders">

    <div class="col">
      <%= link_to("Javascript", javascript_path)  %>
    </div>

    <div class="col">
      <%= link_to("Cyber Security", cyber_security_path)  %>
    </div>

    <div class="col">
      <%= link_to("Python", python_path)  %>
    </div>

    <div class="col">
      <%= link_to("Resume Review", resume_review_path)  %>
    </div>

    <div class="col">
      <%= link_to("Salary Review", salary_review_path)  %>
    </div>
  </div>

</div>
