<div class="container">
  <h3 class="assesment-title">What skill do you need mentorship for?</h3>
  <form action="">
    <div class="technology-card-container"
      data-controller="technology"
      style="width: 55rem;">
      <% @technologies.each do |technology| %>
        <div class="technology-card"
          data-action="toggle->technology#selecttech"
          data-technology-target="tech">
        <%# TODO - Need images for some of the items - may need to find another source %>
          <% if technology.name == "javascript" %>
                <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
                <label for=<%=technology.name%>></label>
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
          <% elsif technology.name == "ruby on rails" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-original-wordmark.svg" />
          <% elsif technology.name == "react" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original-wordmark.svg" />
          <% elsif technology.name == "node.js" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" />
          <% elsif technology.name == "typescript" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg" />
          <% elsif technology.name == "css" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
          <% elsif technology.name == "html" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
          <% elsif technology.name == "python" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
          <% elsif technology.name == "django" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg" />
          <% elsif technology.name == "sql" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" />
          <% elsif technology.name == "flask" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original-wordmark.svg" />
          <% elsif technology.name == "swift" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/swift/swift-original-wordmark.svg" />
          <% elsif technology.name == "go" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-original-wordmark.svg" />
          <% elsif technology.name == "C#" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" />
          <% elsif technology.name == "figma" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg" />
          <% elsif technology.name == "git" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg" />
          <% elsif technology.name == "ruby" %>
            <input class="checkbox" type="checkbox" id=<%=technology.name%> name=<%="name"%>  value=<%=technology.name%> data-checkbox-select-all-target="child" data-action="change->checkbox-select-all#toggleParent">
            <label for=<%=technology.name%>></label>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original-wordmark.svg" />
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>
  <div class="col text-center">
      <button type="submit" class="submit-button btn-assessment" disabled>Find Mentors</button>
    </div>
</form>
