<!DOCTYPE html>
<html>
  <head>
    <title>Techtrek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= if controller.controller_name === 'mentors'
                   'profile-page'
                elsif controller.controller_name == 'users'
                    'profile-page'
                else
                    'main'
                end%>">
    <%= render "shared/flashes" %>
    <div class="banner-background"></div>
    <div style="z-index: 2; position: relative;">
      <%= render "shared/navbar" %>
      <%= yield %>
    </div>
  </body>
</html>
