<div class="container chatroom">
  <h1>#messages</h1>

  <div class="messages">
    <% @messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.sender.first_name %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>

    <div class="form-group">

      <%= simple_form_for [@chat_channel, @message], url:chat_channel_messages_path(@channel) do |f| %>
        <%= f.input :content,
          label: false,
          placeholder: "Message ##",
          class:"form-control"
        %>
        <%= f.submit "Send", class: "btn btn-primary ml-1" %>

      <% end %>
    </div>

  </div>
</div>
