<div class="container chatroom">
 <div data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%=@channel.id%>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

    <%# Top section (name) %>
    <h1 class="messager"><%=link_to "#{User.find(@channel.user2_id).first_name} #{User.find(@channel.user2_id).last_name}",mentor_path(User.find(@channel.user2_id))%></h1>


    <%# Mid section (messages) %>
    <div class="messages msg-form" data-chatroom-subscription-target="messages">
      <% @messages.each do |message| %>

        <div class="message-row d-flex <%= message.sender == current_user ? 'justify-content-end' : 'justify-content-start' %>">
          <div class="<%= message.sender==current_user ? 'sender-style' : 'receiver-style' %>">
            <%= render "chat_channels/messages", message: message%>
          </div>
        </div>
      <% end %>
    </div>
    <%= simple_form_for [@chat_channel, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }},
    url: chat_channel_messages_path(@channel) do |f| %>



    <%# Bottom section %>
    <%# Type new message %>
    <div class="row messagensend">
      <div class="col leftside">
        <%= f.input :content,
          label: false,
          placeholder: "Type something to send",
          class: "form-control"
        %>
      </div>

      <%# Send button %>
      <div class="col rightside">
        <%= f.submit "Send", class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
